.memberWrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 30px;
    gap: 60px;
}

.memberWrapper .back {
    position: absolute;
}

.memberWrapper .profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.memberWrapper .publish {
    text-align: left;
    font-size: 28px;
}

.profileCard {
    max-width: 25%;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profileCard,.profileContent {
    margin-top: 50px;
}

.profileCard .image {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.profileCard .image img {
    width: 100%;
}

.profileCard .name {
    font-size: 20px;
    font-weight: 700;
}

.profileCard .socials{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.profileCard svg{
    flex: 1;
    max-width: 40px; 
    height: 40px;
}

.profileContent {
    text-align: left;
    width: 70%;
}
.profileContent .contact {
    margin-bottom: 30px;
}

.profileContent .contact span {
    font-weight: 700;
}

.profileContent .info {
    font-size: 24px;
    margin-bottom: 30px;
}

.profileContent .CV {
    display: flex;
    justify-content: space-between;
}

.profileContent .CV li{    
    font-size: 18px;
}

.profileContent .education, .interests {
    width: 45%;
    overflow-wrap: break-word;
}