.membersWrapper {
    width: 70%;
    margin: auto;
}

.membersWrapper h1 {
    text-align: left;
}

.search {
    margin: auto;
    display: flex;
    min-width: 100%;
    flex-wrap: nowrap;
}

.searchBar {
    flex-grow: 1;
}

.searchBar input {
    width: 100%;
}

.searchBar input, .searchRole select, .searchActive select {
    border: rgba(213, 212, 212, 0.589) 1px solid;
    padding: 5px;
    border-radius: 3px;
    font-size: 26px;
    transition: 1s;
}

.searchBar input:focus {
    outline: none
}

.searchBar :hover {
    border: rgb(107, 107, 107) 1px solid;
}

.membersList {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.memberItem .img {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
    height: 52px;
    max-width: 52px;
    min-width: 52px;
    border-radius: 50%;
}
.memberItem .img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.memberItem {
    padding: 15px 0;
    gap: 8px;
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    align-items: center;
}

.memberItem .content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.memberItem .info img {
    height: 15px;
    width: 15px;
}

.memberItem .name {
    font-weight: 600;
    font-size: 20px;
}
.memberItem .info {
    font-size: 15px;
}

.info .socials {
    display: inline-block;
    z-index: 999;
}

.info .socials div {
    display: inline-block;
    margin: 0 3px;
}

.interest span {
    display: inline-block;
}

@media only screen and (max-width: 1100px) {
    .membersWrapper{
        width: 90%;
    }

    .searchBar input, .searchRole select, .searchActive select {
        font-size: 16px;
    }

    .searchBar {
        width: 100%;
    }

    .searchRole, .searchActive {
        width: 50%;
    }
}