.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    width: 60%;
    height: 50px;
    margin: auto;
    border-radius: 0 0 10px 10px;
}

.navbar span {
    font-weight: 600;
    transition: 0.25s;
    padding: 5px;
    border-radius: 5px;
}

.navbar span:hover {
    color: white;
    background-color: rgba(61, 62, 66, 0.858);
}

@media only screen and (max-width: 1100px) {
    .navbar {
        width: 95%;
    }
}