.reserchWrapper {
    padding: 50px 0;
    width: 70%;
    margin: auto;
}

.reserchWrapper img {
    float: left;
    height: auto;
    width: 50%;
    margin-right: 15px;
}

.reserchContent {
    text-align: left;
}

.reserchContent h3 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 32px;
    width: auto;
}

.reserchContent span {
    font-size: 26px;
}

@media only screen and (max-width: 1100px) {
    .reserchWrapper img {
        max-width: 80%;
    }

}